
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="cupon_area">
                <input type="text" id="couponCode" value="" placeholder="Enter coupon code">
                <button class="tp_btn" onclick="applyCoupon()">Apply Coupon</button>
            </div>
            <div class="billing_details">
                <form class="row contact_form" action="" method="" id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Shipping Address</h3>

                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="name" value="{{userDetails.address.[0].name}}" name="Name"
                                    placeholder="Name" onkeyup="validateName()">
                                <span id="AddrName-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="number" class="form-control" id="phone" value="{{userDetails.address.[0].phone}}" name="Phone"
                                    placeholder="Phone Number" onkeyup="validatePhone()">
                                <span id="AddrPhone-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" value="{{userDetails.email}}"
                                    name="Email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="building_Name" value="{{userDetails.address.[0].building_Name}}" name="Buidling_Name"
                                    placeholder="Buidling Name" onkeyup="validateBuidling_Name()">
                                <span id="AddrBuidlingName-error" class="text-danger font-weight-bold"></span>

                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="street_name" value="{{userDetails.address.[0].street_name}}" name="Street_Name"
                                    placeholder="Street Name" onkeyup="validateStreet_Name()">
                                <span id="AddrStreetName-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" value="{{userDetails.address.[0].city}}" name="City"
                                    placeholder="City" onkeyup="validatCity()">
                                <span id="AddrCity-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="district" value="{{userDetails.address.[0].district}}" name="District"
                                    placeholder="District" onkeyup="validateDistrict()">
                                <span id="AddrDistrict-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="state" value="{{userDetails.address.[0].state}}" name="State"
                                    placeholder="State" onkeyup="validateState()">
                                <span id="AddrState-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="pincode" value="{{userDetails.address.[0].pincode}}" name="Pincode"
                                    placeholder="Pincode" onkeyup="validatePincode()">
                                <span id="AddrPincode-error" class="text-danger font-weight-bold"></span>
                            </div>
                            <div>

                                <input type="text" id="userId" name="userId" value="{{userDetails._id}}" hidden>
                            </div>
                            <div>

                                <input type="text" id="addressId" name="addressId" value="" hidden>
                            </div>
                            <div>

                                <input type="text" id="couponNamess" name="couponName" value="" hidden>
                            </div>
                            <div>

                                <input type="text" id="grandTotal" name="grandTotal" value="{{totalValue.total}}"
                                    hidden>
                            </div>
                            <div>

                                <input type="text" id="Discount" name="Discount" value="" hidden>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="order_box">

                                <h2>Your Order</h2>

                                <ul class="list">
                                    <li><a href="#">Product <span>Total</span></a></li>
                                    {{#each products}}
                                    <li><a href="#"> <span class="middle">{{this.product.Brand}} x
                                                {{this.quantity}}</span>
                                            <span class="last">Rs.{{this.proTotal}}</span></a></li>
                                    {{/each }}
                                </ul>
                                <ul class="list list_2">
                                    <li><a href="#"> Coupon applied<span id="couponNames">Nil</span></a></li>
                                    <li><a href="#"> Discount <span id="discount">0</span></a></li>
                                    <li><a href="#">Sub Total <span id="subTotal">{{totalValue.total}}</span></a></li>
                                    <li><a href="#">Grand Total <span id="GrandTotal">{{totalValue.total}}</span></a>
                                    </li>

                                </ul>
                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option5" name="Payment-method" value="COD" required>
                                        <label for="f-option5">Cash On Delivery</label>
                                        <div class="check"></div>
                                    </div>
                                </div>
                                <div class="payment_item active">
                                    <div class="radion_btn">
                                        <input type="radio" id="f-option6" name="Payment-method" value="ONLINE">
                                        <label for="f-option6">Razorpay </label>
                                        <img src="img/product/card.jpg" alt="">
                                        <div class="check"></div>
                                    </div>

                                </div>
                                <button class="primary-btn" onclick="couponUse('{{userDetails._id}}')"
                                    type="submit">Confirm </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {{#each userAddress}}
                    <div class="col-md-4">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="font-weight-bold">name :</span> {{this.name}}
                                </p>
                                <p class="mb-4"><span class="font-weight-bold">phone :</span> {{this.phone}}
                                </p>
                                {{!-- <p class="mb-4"><span class="font-weight-bold">email:</span>
                                    {{../userDetails.email}}
                                </p> --}}
                                <p class="mb-4">
                                    <span class="font-weight-bold">Address :</span>
                                    {{this.building_Name}},{{this.street_name}},{{this.state}}
                                </p>

                                <p class="mb-4"><span class="font-weight-bold">pincode :</span> {{this.pincode}}</p>
                                <div>
                                    <button onclick="deliveryAddress('{{../userDetails._id}}','{{this.addId}}')"
                                        data-toggle="modal" data-target="#editAddress" class="btn btn-info">Add
                                        Address</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </section>
    <!--================End Checkout Area =================-->
    <script>
